.containerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NeuroMedium';
    font-size: 38px;
    color: var(--vasto-greenfield);
    background-color: var(--vasto-white);
}

