.container{
    width: 100vw;
    height: 500px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.containerImg{
    opacity: 10%;
    position: absolute;
}

.containerParagraphText{
    font-family: 'DentonCondensed';
    font-size: 70px;
    color: var(--vasto-sand);
    text-align: center;
}