@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vilaage';
  src: url('/fonts/Vilaage_Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('/fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Si tienes otras variantes de la fuente (negrita, cursiva, etc.), también puedes agregarlas */
@font-face {
  font-family: 'NeuroMedium';
  src: url('/fonts/Neuro-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DentonCondensed';
  src: url('/fonts/DentonCondensed.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

:root {
  --vasto-brownland: #261D1B;
  --vasto-tomatoe: #D23727;
  --vasto-white: #FBF9F3;
  --vasto-skyblue: #82AED6;
  --vasto-greenfield: #143517;
  --vasto-sand: #CAC48F;
  --vasto-sandlight: #E0E0B9;
}

body {
  margin: 0;
}
