.container{
    width: 100vw;
    height: 500px;
    display: flex;
    background-color: var(--vasto-white);
}

.containerCards{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


