.container{
    width: 100vw;
    height: 800px;
    background-color: var(--vasto-greenfield);
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.containerTitle{
    margin-bottom: 50px;
    margin-top: 50px
}

.title{
    font-family: "Vilaage", normal;
    font-weight: 500;
    font-size: 60px;
    color: var(--vasto-sandlight);
    text-align: center;
}

.pharagraph{
    font-family: 'MyriadPro', normal;
    font-weight: 200;
    font-size: 20px;
    color: var(--vasto-sandlight);
    text-align: center;
}

.button{
    font-family: "vilaage", normal;
    color: var(--vasto-sandlight);
    width: 200px;
    height: 60px;
    border: 2px solid var(--vasto-sandlight);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.containerButton{
    display: flex;
    flex-direction: row-reverse;
}

.containerInputsForm{
    display: grid;
   grid-template-columns: repeat(2, 1fr); /* Dos columnas del mismo tamaño */
   gap: 16px;/* Espacio entre los inputs */
   margin: auto; /* Centrar si es necesario */
}
