.container{
    width: 90vw;
    height: 70px;
    margin: 36px auto;
    padding: 20px 48px;
    background-color: var(--vasto-greenfield);
    border: 2px solid var(--vasto-sandlight);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 20px;
    z-index: 1;
}

.containerLinks{
    width: 404px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: var(--vasto-sandlight);
    font-family: 'MyriadPro';
    font-size: 16px;
}

.containerButton{
    width: 153px;
    background-color: var(--vasto-sandlight);
    color: var(--vasto-greenfield);
    padding: 14px 21px;
    border-radius: 15px;
    font-family: 'NeuroMedium';
}