.container{
    width: 100vw;
    height: 480px;
    background-color: var(--vasto-white);
}

.containerText{
    /*le falta scroll infinito animacion*/
    margin: 0 15px;
    padding: 30px 0;
    width: 90vw;
    font-family: 'NeuroMedium';
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    white-space: nowrap;
    overflow: hidden;
}

.containerLogoredes{
    margin: 24px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.containerBrandsMotto{
    font-family: 'DentonCondensed';
    font-size: 24px;
    margin: 20px 0 30px 0;
}

.contactDetails{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    color: var(--vasto-greenfield);
}

.contactText{
    font-family: 'MyriadPro';
    font-size: 16px;
}

.containerIcons{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: var(--vasto-greenfield);
}